.sectionContainer {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-xs);
  padding: 15px;
}

.addButton {
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: var(--mantine-radius-sm);
}

.taskExpandButton {
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: var(--mantine-radius-sm);
}
