.navbar {
  background-color: var(--mantine-color-body);
  height: 100vh;
  width: 250px;
  padding: var(--mantine-spacing-md);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.title {
  font-weight: 600;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-0));
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.section {
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);

  &:not(:last-of-type) {
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
}

.sectionBottom {
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.subSection {
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}

.searchCode {
  font-weight: 700;
  font-size: 10px;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
}

.mainLinks {
  padding-left: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
  padding-right: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
}

.mainLink {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: var(--mantine-font-size-xs);
  padding: 8px var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  margin-bottom: 2px;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
}

.mainLinkHover {
  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  }
}

.active {
  background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-indigo-3));
}

.mainLinkInner {
  display: flex;
  align-items: center;
  flex: 1;
}

.mainLinkIcon {
  margin-right: var(--mantine-spacing-sm);
  font-weight: 800;
}

.mainLinkBadge {
  padding: 0;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.trips {
  padding-left: calc(var(--mantine-spacing-md) - 6px);
  padding-right: calc(var(--mantine-spacing-md) - 6px);
  padding-bottom: var(--mantine-spacing-md);
}

.tripsHeader {
  padding-left: calc(var(--mantine-spacing-md) + 2px);
  padding-right: var(--mantine-spacing-md);
  margin-bottom: 5px;
}

.tripLink {
  display: block;
  padding: 8px var(--mantine-spacing-xs);
  text-decoration: none;
  border-radius: var(--mantine-radius-sm);
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  line-height: 1;
  font-weight: 500;
  width: 100%;
  margin-bottom: 3px;
}

.tripLinkHover {
  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  }
}

.user {
  padding-top: var(--mantine-spacing-md);
  width: 100%;
  margin-left: var(--mantine-spacing-md);
}

.userSection {
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}
